<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style3.css') }}">
</head>
<body>
    <div class="home-links">
        <a href="/famousSimilarity">Famous Similarity</a>
        <a href="/photoCompare">Photo Compare</a>
    </div>

    <div class="route-description">
        <p><strong>Famous Similarity:</strong> Discover how similar you are to famous people using cutting-edge AI technology.</p>
        <p><strong>Photo Compare:</strong> Use advanced AI algorithms to compare and analyze photos with precision.</p>
    </div>

</body>
</html>