<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style5.css') }}">
</head>
<body>
    <div class="upload-form">
        <form action="/photoCompare" method="post" enctype="multipart/form-data">
            <input type="file" name="file" required>
            <br>
            <input type="file" name="file1" required>
            <br>
            <input type="submit" value="Upload">
        </form>
    </div>
    <a href="/homePage" class="back-button">Back to Home</a>

    <p class="error-message">{{ error }}</p>
</body>
</html>