<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% if error %}
        <p>An Error has occured, are you sure you are logged in?</p>>

    {% else %}
        {% for dataset in data %}
            {% if 'image2' in data[dataset]['imgpath'] %}
                <img src="{{ url_for( 'static' , filename=data[dataset]['imgpath']['image1']) }}"/>
                <img src="{{ url_for( 'static' , filename=data[dataset]['imgpath']['image2']) }}"/>
                <p>{{ data[dataset]['score'] }}</p>
            {% else %}
                    <img src="{{ url_for( 'static' , filename=data[dataset]['imgpath']['image1']) }}"/>
                    <p>{{ data[dataset]['score'] }}</p>
            {% endif %}
        {% endfor %}
    {% endif %}
</body>
</html>